@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700|Montserrat:400,700);

/*
* Configuration
*/
@import "config/global";
@import "config/base";
@import "config/spacing";
@import "config/typography";
@import "config/utils";

/*
* Elements
*/
@import "elements/container";
@import "elements/code";
@import "elements/divider";
@import "elements/link";
@import "elements/section";

/*
* Components
*/
@import "components/card";
@import "components/button";
@import "components/grid";

/* Default */

body {
  font-family: 'Raleway', 'Montserrat', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Raleway', 'Helvetica', sans-serif;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
