.container {
  margin: $h-center;
  padding: 0 .2rem;
  position: relative;
  width: 100%;
  max-width: 112.0rem;
}

.container-fluid {
  margin: $h-center;
  padding: 0 .2rem;
  position: relative;
  width: 100%;
  max-width: 140.0rem;
}
